.even {background-color:#FFF;}
.odd {background-color:#BBB;}

.bad {background-color:#F00;}
.with_errors {background-color:#0F0;}
.exceptional {background-color:#00F;}
.grade_msg {background-color:#FFF; }

